<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEIAK</title>
</head>
<body>
<h1>Deiak App</h1>

<p><a href="{{ path ('login') }}">Hasi Saioa</a></p>
</body>
</html>